{
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": ".",
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "es6": true,
    "es2017": true
  },

  "plugins": ["@typescript-eslint"],

  "rules": {
    "for-direction": "off",

    "getter-return": ["error", {"allowImplicit": false}],
    "no-setter-return": "error",
    "accessor-pairs": ["error", {
      "setWithoutGet": true,
      "getWithoutSet": false,
      "enforceForClassMembers": false
    }],

    "no-async-promise-executor": "off",
    "no-await-in-loop": "off",
    "require-atomic-updates": "warn",

    "no-compare-neg-zero": "error",
    "no-loss-of-precision": "warn",

    "no-cond-assign": ["error", "except-parens"],
    "no-return-assign": "off",
    "no-ex-assign": "error",
    "no-func-assign": "error",
    "no-import-assign": "error",

    "arrow-parens": "error",
    "no-extra-parens": ["error", "all", {
      "conditionalAssign": true,
      "nestedBinaryExpressions": true,
      "ignoreJSX": "all",
      "enforceForSequenceExpressions": true,
      "enforceForNewInMemberExpressions": true
    }],

    "semi": "error",
    "no-extra-semi": "error",
    "no-unexpected-multiline": "error",
    "semi-spacing": ["error"],

    "no-extra-boolean-cast": "error",
    "no-constant-condition": "warn",

    "no-lonely-if": "warn",
    "no-dupe-else-if": "warn",
    "no-duplicate-case": "error",
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-else-return": ["error", {"allowElseIf": false}],

    "no-control-regex": "warn",
    "no-div-regex": "off",
    "no-invalid-regexp": "error",
    "no-regex-spaces": "warn",
    "no-empty-character-class": "error",
    "no-misleading-character-class": "warn",
    "no-irregular-whitespace": ["error", {"skipStrings": true, "skipTemplates": true}],

    "no-sparse-arrays": "error",
    "array-callback-return": "error",

    "no-obj-calls": "error",
    "no-prototype-builtins": "off",

    "no-template-curly-in-string": "warn",

    "no-empty": "warn",
    "no-unreachable": "warn",
    "no-useless-backreference": "error",

    "complexity": ["error", {"max": 50}],
    "max-depth": ["warn", {"max": 5}],
    "max-params": ["warn", {"max": 3}],
    "max-statements": "off",
    "max-nested-callbacks": ["warn", {"max": 5}],
    "max-lines-per-function": ["warn", {"max": 400, "skipComments": true}],
    "max-lines": ["error", {"max": 500, "skipComments": true}],
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignoreRegExpLiterals": true
    }],

    "block-scoped-var": "error",
    "no-inner-declarations": "error",

    "class-methods-use-this": "off",

    "use-isnan": "error",
    "valid-typeof": "error",

    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",

    "consistent-return": ["error"],

    "no-console": "off",
    "no-alert": "warn",
    "no-debugger": "warn",

    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-invalid-void-type": ["error", {"allowInGenericTypeArguments": true}],
    "@typescript-eslint/no-misused-new": ["error"],
    "@typescript-eslint/no-type-alias": ["error", {
      "allowAliases": "always",
      "allowConditionalTypes": true,
      "allowLiterals": "in-unions-and-intersections",
      "allowMappedTypes": "always",
      "allowTupleTypes": "always"
    }],

    "@typescript-eslint/no-unnecessary-type-arguments": ["error"],
    "@typescript-eslint/no-unnecessary-type-assertion": ["error"],

    "@typescript-eslint/no-non-null-assertion": ["off"],
    "@typescript-eslint/no-non-null-asserted-optional-chain": ["error"],
    "@typescript-eslint/no-extra-non-null-assertion": ["error"],

    "@typescript-eslint/no-inferrable-types": ["error", {
      "ignoreParameters": true,
      "ignoreProperties": true
    }],

    "@typescript-eslint/array-type": ["error", {"array-simple": true}],
    "@typescript-eslint/consistent-type-assertions": ["error", {
      "assertionStyle": "angle-bracket",
      "objectLiteralTypeAssertions": "allow"
    }],

    "@typescript-eslint/empty-interface": ["off"],
    "@typescript-eslint/method-signature-style": ["error", "method"],
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/member-delimiter-style": ["error"],

    "@typescript-eslint/adjacent-overload-signatures": ["error"],
    "@typescript-eslint/typedef": ["error", {
      "parameter": true,
      "arrowParameter": false,
      "propertyDeclaration": true,
      "memberVariableDeclaration": true,
      "variableDeclaration": false,
      "variableDeclarationIgnoreFunction": true,
      "arrayDestructuring": false,
      "objectDestructuring": false
    }],

    "@typescript-eslint/no-unsafe-return": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": ["error", {
      "allowArgumentsExplicitlyTypedAsAny": true,
      "allowHigherOrderFunctions": true
    }],

    "@typescript-eslint/explicit-member-accessibility": ["off"],
    "@typescript-eslint/class-literal-property-style": ["off"],
    "@typescript-eslint/no-extraneous-class": ["error"],
    "@typescript-eslint/no-parameter-properties": ["error"],

    "@typescript-eslint/no-namespace": ["error"],
    "@typescript-eslint/no-unnecessary-qualifier": ["error"],
    "@typescript-eslint/no-require-imports": ["off"],
    "@typescript-eslint/no-var-requires": ["error"],

    "@typescript-eslint/prefer-for-of": ["off"],
    "@typescript-eslint/no-for-in-array": ["off"],
    "@typescript-eslint/no-base-to-string": ["error"],
    "@typescript-eslint/no-dynamic-delete": ["warn"],
    "@typescript-eslint/no-implied-eval": ["off"],

    "@typescript-eslint/no-magic-numbers": ["off"],
    "@typescript-eslint/no-unnecessary-boolean-literal-compare": ["off"],

    "@typescript-eslint/no-floating-promises": ["warn", {"ignoreIIFE": true}],
    "@typescript-eslint/promise-function-async": ["off"],

    "@typescript-eslint/no-unnecessary-condition": ["error", {
      "allowConstantLoopConditions": true
    }],

    "@typescript-eslint/no-throw-literal": ["error"],
    "@typescript-eslint/no-this-alias": ["error", {
      "allowDestructuring": true,
      "allowedNames": ["self", "that"]
    }],

    "@typescript-eslint/ban-ts-comment": ["error", {
      "ts-ignore": "allow-with-description",
      "ts-expect-error": "allow-with-description",
      "minimumDescriptionLength": 4
    }],

    "@typescript-eslint/ban-types": ["error", {
      "extendDefaults": false,
      "types": {
        "String": {
          "message": "Use string instead",
          "fixWith": "string"
        },

        "Number": {
          "message": "Use number instead",
          "fixWith": "number"
        },

        "Boolean": {
          "message": "Use boolean instead",
          "fixWith": "boolean"
        },

        "Symbol": {
          "message": "Use symbol instead",
          "fixWith": "symbol"
        },

        "{}": {
          "message": "Use object instead",
          "fixWith": "object"
        }
      }
    }]
  }
}
